.pre-footer {
	margin-bottom: 0;
}

.pre-footer__subscribe {
	background-color: $color__secondary;
	color: $color__white;
	padding: 2rem 0;

	.container {
		display: flex;
		flex-direction: column;
	}

	@media (min-width: map.get($breakpoints, "md")) {
		padding: 5rem 0;

		.container {
			flex-direction: row;
			align-items: center;
		}
	}
}

.subscribe {

	&__item {

		h3 {
			font-size: 2rem;
			line-height: 24px;
			font-style: italic;
			margin: 0 0 3rem 0;
			text-transform: uppercase;
		}

		p {
			font-size: $font__size-small;
		}

		p:last-child {
			margin-bottom: 0;
		}
	}

	@media (min-width: map.get($breakpoints, "md")) {

		&__content {
			flex: 0 0 60%;
			padding-right: 3.75rem;
		}

		&__form {
			flex: 0 0 40%;
		}

		&__item {

			h3 {
				font-size: 2.625rem;
			}

			p {
				font-size: 1.375rem;
			}
		}
	}
}

.subscribe__form {

	br,
	.wpcf7-spinner,
	.wpcf7-not-valid-tip,
	.wpcf7-response-output {
		display: none;
	}

	.wpcf7-form {
		display: flex;
	}

	.wpcf7-form-control-wrap[data-name="email"] {
		flex: 0 0 80%;
	}

	.wpcf7-form-control-wrap[data-name="email"] input {
		background-color: #c3d2e9;
		max-width: unset;
		border-radius: 0;
		padding: 1rem;
		border: none;
		width: 100%;
	}

	.wpcf7-form .wpcf7-form-control-wrap[data-name="email"] input:focus {
		outline: none;
	}

	.wpcf7-form.invalid .wpcf7-form-control-wrap[data-name="email"] input {
		border: none;
		background-color: #ffcaca;
	}

	.wpcf7-form.sent .wpcf7-form-control-wrap[data-name="email"] input {
		border: none;
		background-color: #d1ffcf;
	}

	.wpcf7-submit {
		padding: 0;
		flex: 0 0 20%;
		cursor: pointer;
		font-family: $font__secondary;
		background-color: $color__white;
		font-weight: $font__weight-bold;
		text-transform: uppercase;
		font-style: italic;
		font-size: 1.25rem;
		border-radius: 0;
		display: block;
		border: none;
		width: 100%;
	}

	.wpcf7-submit:hover {
		background-color: #ddd;
	}
}
