.product-page-menu-block {

	margin-bottom: 3.5rem;

	.menu-desktop-only {
		display: none;
	}

	&__nav-list {
		padding: 0;
		display: flex;
		margin: 0 auto;
		list-style: none;
		max-width: 380px;
		justify-content: space-between;
	}

	&__nav-item {

		border-color: $color__light-grey;

		&.active {
			border-color: $color__primary;
		}

		a {
			text-decoration: none;
			color: $color__light-grey;
			border-color: $color__light-grey;

			span {
				display: none;
			}

			&.active {
				color: $color__black;
			}

			&:hover {
				color: $color__primary;

				span {
					color: $color__spr-grey;
				}
			}
		}
	}

	@media (min-width: map.get($breakpoints, "md")) {

		&__nav-list {
			max-width: 70rem;
			justify-content: space-around;
		}
	}

	@media (min-width: map.get($breakpoints, "lg")) {

		.menu-mobile-only {
			display: none;
		}

		.menu-desktop-only {
			display: inline-block;
		}

		&__nav-item {

			a {
				padding-right: 5.5rem;
				font-size: 2.625rem;
				line-height: 80%;
			}

			a span {
				display: inline;
				font-size: 2rem;
			}

			&.active span {
				color: $color__spr-grey;
			}
		}
	}

}
