.wp-block-tags-list {
	list-style: none;
	flex-wrap: wrap;
	display: flex;
	margin: 0;
	padding: 0;

	li {
		font-size: 0.875rem;
		margin-bottom: 1rem;
		margin-right: 0.5rem;

		a,
		a:visited,
		a:active {
			border: 1px solid #e6e7e8;
			padding: 0.25rem 0.375rem;
			text-decoration: none;
			color: #58595b;
		}

		a:hover {
			color: #fff;
			background-color: #58595b;
		}
	}
}
