// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map.get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Red Button
@mixin primary-button {
	background-color: $color__primary;
	font-weight: $font__weight-bold;
	font-family: $font__secondary;
	font-size: $font__size-base;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0.5rem 1rem;
	color: $color__white;
	font-style: italic;
	text-align: center;
	max-width: 13rem;

	&:hover {
		background-color: $color__primary_hover;
	}

	&:hover,
	&:focus,
	&:active,
	&:visited {
		color: $color__white;
	}
}
