.site-footer {
	background-color: $color__footer_bg;
	padding: 2rem 0;

	.footer-widget-area .widget:not(:last-child) {
		margin-bottom: 1.5rem;
		padding-bottom: 1.5rem;
		border-bottom: 1px solid #c3d2e9;
	}

	h3 {
		margin-top: 0;
		font-style: italic;
		text-transform: uppercase;
		font-size: $font__size-base;
		font-weight: $font__weight-bold;
	}

	@media (min-width: map-get($breakpoints, "md")) {
		padding: 5rem 0;

		.footer-widget-area .widget:not(:last-child) {
			margin-bottom: 2.5rem;
			padding-bottom: 2.5rem;
		}
	}
}

