$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__primary:#d51f26;
$color__primary_hover:#93141a;
$color__secondary:#104da7;
$color__tertiary:#e6e7e8;

$color__grey:#85868a;
$color__spr-grey:#58595b;
$color__black:#231e1f;
$color__light-grey:#a6a8ab;
$color__dark_grey: #3f3738;
$color__dark_blue: #0d3e86;
$color__dark_green: #818623;
$color__dark_turqoise: #008a93;
$color__dark_yellow: #c98e1d;
$color__dark_violet: #921d52;
$color__white: #fff;

$color__helper_01:#aa191e;
$color__helper_02:#6b1013;
$color__helper_03:#87a6d3;

$color__footer_bg: $color__tertiary;
$color__error: #d51f26;
