// stylelint-disable value-keyword-case
$font__primary: "source-sans-pro", "Helvetica Neue", sans-serif;
$font__secondary: "acumin-pro-extra-condensed", "Helvetica Neue", sans-serif;
// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__size-base: 1rem;
$font__size-small: 0.875rem;
$font__size-large: 1.125rem;
$font__size-extra-small: 0.75rem;
$font__size-extra-large: 1.5rem;

$font__size-h1: 2.5rem;
$font__size-h2: 2rem;
$font__size-h3: 1.75rem;
$font__size-h4: 1.5rem;
$font__size-h5: 1.25rem;
$font__size-h6: 1rem;

$font__size-desktop-title-xl: 3.25rem;
$font__size-desktop-title: 2.5rem;
$font__size-mobile-title: 1.5rem;


$font__weight-normal: 400;
$font__weight-bold: 700;
$font__weight-black: 900;
