.search {

	.page-title {
		margin: 0 0 1.5rem;
		line-height: 100%;
	}

	article .entry-title {

		a {
			color: $color__dark_grey;
			text-decoration: none;
		}

		a:hover {
			color: $color__primary;
			text-decoration: underline;
		}
	}
}
